.invisibility {
    display: none;
     
}

.open_popup {
display: inline-block;
padding: 15px 30px;
text-transform: uppercase;
background: #2982ff;
color: #fff ;
text-decoration: none;
font-weight: 500;
border-radius: 5px;
}

.popup__bg {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5 );
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;

}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: #fff;
    width: 400px;
    padding: 25px; 
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%,-50%) scale(1);
    transition: 0.5s all;
}

.close__popup{
    position: absolute; 
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 0 px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;

    font-weight: 500;
    color: #333;
    margin-bottom: 25px;

}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none; 
    outline: none;
    border-bottom: 1px solid #333 ;
}

.popup input:focus {
    border-bottom: 1px solid rgb(18, 18, 18) ;
}

.popup input:focus + .label__text {
    color: black;
}

.popup button { 
    cursor: pointer;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none; 
    outline: none;
    border-bottom: 1px solid #333 ;
    font-size: 18px;
    padding-top: 5px;

}